* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial;
}

/* Container styling */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* Card styling */
.card {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  margin: 15px 0;
  font-size: 1.5em;
}

.card p {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.card button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.5s;
}

.card button:hover {
  scale: 1.2;
  border: 1px solid #007bff;
  color: #007bff;
  background: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
